<div class="mb-3">
  <div class="row">
    @if (horizontal) {
      <div class="d-flex align-items-center position-relative hidden-button-container col-md-3">
        <label class="form-label" [class.mb-md-0]="horizontal" [for]="inputId">{{title}}</label>
        @if (removable) {
          <button type="button" class="btn btn-sm btn-danger position-absolute left-0" (click)="removed.emit(this)">
            <i-bs name="x" class="me-1"></i-bs><ng-container i18n>Remove</ng-container>
            </button>
          }
        </div>
      }
      <div [ngClass]="{'col-md-9': horizontal, 'align-items-center': horizontal, 'd-flex': horizontal}">
        <p-checkbox [binary]="true" [(ngModel)]="value" (ngModelChange)="onChange(value)" (onBlur)="onTouched()" [disabled]="disabled" [inputId]="inputId"></p-checkbox>
        @if (!horizontal) {
          <label [for]="inputId" class="ms-2">{{title}}</label>
        }
        @if (hint) {
          <div class="form-text text-muted">{{hint}}</div>
        }
      </div>
    </div>
  </div>
