@if (minimal) {
  <ng-container *ngTemplateOutlet="selectTpl"></ng-container>
} @else {
  <div class="mb-3 paperless-input-select" [class.disabled]="disabled">
    <div class="row">
      <div class="d-flex align-items-center position-relative hidden-button-container" [class.col-md-3]="horizontal">
        @if (title) {
          <label class="form-label" [class.mb-md-0]="horizontal" [for]="inputId">{{title}}</label>
        }
        @if (removable) {
          <button type="button" class="btn btn-sm btn-danger position-absolute left-0" (click)="removed.emit(this)">
            <i-bs name="x" class="me-1"></i-bs><ng-container i18n>Remove</ng-container>
          </button>
        }
      </div>
      <div [class.col-md-9]="horizontal">
        <ng-container *ngTemplateOutlet="selectTpl"></ng-container>
        @if (hint) {
          <small class="form-text text-muted">{{hint}}</small>
        }
      </div>
    </div>
  </div>
}

<ng-template #selectTpl>
  <div class="selected-documents mb-1">
    @for (document of selectedDocuments; track document.id) {
      <div class="d-flex align-items-center mb-1">
        @if (!disabled) {
          <button class="btn p-0 lh-1" (click)="unselect(document)" (mousedown)="$event.stopImmediatePropagation()" type="button" title="Remove link" i18n-title><i-bs name="x"></i-bs></button>
        }
        @if (document.title) {
          <a routerLink="/documents/{{document.id}}" class="badge bg-light text-primary" (mousedown)="$event.stopImmediatePropagation();" title="Open link" i18n-title>
            <i-bs width="0.9em" height="0.9em" name="file-text" class="me-1"></i-bs><span>{{document.title}}</span>
          </a>
        } @else {
          <span class="badge bg-light text-muted" (click)="unselect(document)" (mousedown)="$event.stopImmediatePropagation()" type="button" title="Remove link" i18n-title>
            <i-bs width="0.9em" height="0.9em" name="exclamation-triangle-fill" class="me-1"></i-bs><span i18n>Not found</span>
          </span>
        }
      </div>
    }
  </div>
  <p-autocomplete
    [suggestions]="suggestions"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [loading]="loading"
    [minLength]="2"
    [field]="'title'"
    [forceSelection]="true"
    styleClass="w-100"
    (completeMethod)="searchDocuments($event)"
    (onSelect)="onSelectDocument($event)"
    (mousedown)="$event.stopImmediatePropagation()">
    <ng-template pTemplate="item" let-document>
      <div>{{document.title}} <small class="text-muted">({{document.created | customDate:'shortDate'}})</small></div>
    </ng-template>
    <ng-template pTemplate="loader">
      <div class="spinner-border spinner-border-sm fw-normal ms-2 me-auto" role="status"></div>
      <div class="visually-hidden" i18n>Loading...</div>
    </ng-template>
  </p-autocomplete>
</ng-template>
