::ng-deep p-autocomplete .p-autocomplete {
    width: 100%;
}

.paperless-input-select.disabled {
    --bs-btn-disabled-border-color: transparent;
    ::ng-deep p-autocomplete {
        .p-autocomplete-input {
            cursor: not-allowed;
            background-color: var(--pngx-bg-disabled) !important;
        }
    }
}

i-bs {
    cursor: pointer;
}

.badge {
    font-size: .75rem;
}

.selected-documents {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}
